.quantityCart input[type="number"]::-webkit-outer-spin-button,
.quantityCart input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
.quantityCart input[type="number"] {
    -moz-appearance: textfield;
}
.quantityCart input[type="number"]:focus {
    outline: none;
}
.quantityCart {
    font-size: 20px;
}
.quantityCart i {
    font-size: 25px;
}

.quantityCart input {
    max-width: 60px;
    max-height: 45px;
    border: none;
    text-align: center;
}
