.navbar {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.15);
}
nav .nav-link {
    color: #f5f5f5 !important;
    font-size: 0.8rem;
    text-transform: uppercase;
    white-space: nowrap;
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    color: var(--primary) !important;
}
